

body {
    background-color: #383e67;
    color: #ffe572;
}
header {
    display: flex;
    flex-flow: row;
    gap: 30px;
}

img {
    height: auto;
    width: 190px;
}

#refreshBtn {
    align-self:center;
}

#cave {
    width: 1400px;
    height: 800px;
}

#background {
    position: absolute;
    width: 1400px;
    height: 800px;
    z-index: 0;
}

#search-area {
    position: absolute;
}

#rocks {
    z-index: 5;
    position: absolute;
}

#small-rocks {
    width: 1400px;
    height: 800px;
    z-index: 5;
    position: absolute;
}

.gem {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 80px;
    height: auto;
}

#gem1 {
    filter: brightness(60%) saturate(100%) sepia(100%) hue-rotate(175deg) brightness(202%) contrast(100%);
}

#gem2 {
    filter: sepia(100%) saturate(10000%) hue-rotate(1deg) brightness(90%) contrast(90%) saturate(5);
}

#gem3 {
    fill:#7a03b6;
    filter: brightness(90%) invert(19%) sepia(100%) saturate(6107%) hue-rotate(227deg) brightness(100%) contrast(100%)
}

#gem4 {
    fill:#108d52;
    filter: sepia(100%) saturate(10000%) hue-rotate(60deg) brightness(50%) contrast(90%);
}

#gem5 {
    fill:#ffc02b;
    filter: brightness(90%) invert(19%) sepia(100%) saturate(6207%) hue-rotate(358deg) brightness(108%) contrast(115%)
}

#gem6 {
    fill:#ff8ae0;
    filter: sepia(100%) saturate(10000%) hue-rotate(269deg) brightness(100%) contrast(170%);
}

#gem7 {
    fill:#7ff7f5;
    filter: sepia(100%) saturate(10000%) hue-rotate(90deg) brightness(100%) contrast(100%);
}