
body {
    background-color: #383e67;
    color: #ffe572;
}
header {
    display: flex;
    flex-flow: row;
    gap: 30px;
}

img {
    height: auto;
    width: 200px;
}

#darkness {
    display: none;
    position: absolute;
    width: 1400px;
    height: 800px;
    background-color: black;
}

#cave {
    width: 1400px;
    height: 800px;
}

#background {
    position: absolute;
    width: 1400px;
    height: 800px;
}

#search-area {
    position: absolute;
}

#rocks {
    z-index: 2;
    position: absolute;
}

.gem {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

#gem1 path {
    fill:#da0202;
}

#gem2 path {
    fill:#0105f5;
}

#gem3 path {
    fill:#7a03b6;
}

#gem4 path {
    fill:#108d52;
}

#gem5 path {
    fill:#ffc02b;
}

#gem6 path {
    fill:#ff8ae0;
}

#gem7 path {
    fill:#7ff7f5;
}