
body {
    background-color: #383e67;
    color: #ffe572;
}
header {
    display: flex;
    flex-flow: row;
    gap: 30px;
}

img {
    height: auto;
    width: 200px;
}

#darkness {
    display: none;
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: black;
}

#cave {
    width: 100%;
    height: 800px;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
}

#search-area {
    position: absolute;
}
.gem {
    position: relative;
    top:0;
    left:0;

}
